* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #faf9f5;
  color: #141413;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141413;
  padding: 20px 40px;
  color: #faf9f5;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo:hover {
  color: #ffcc00;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.nav-links a:hover {
  color: #ffcc00;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8e6dc;
  border: 1px solid #ffcc00;
  border-radius: 30px;
  width: 90%;
  max-width: 500px;
  margin: 100px auto;
  padding: 40px 20px;
}

.heading {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  width: 100%;
  max-width: 280px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.button {
  background-color: #d97757;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #6a9bcc;
}

footer {
  background-color: #141413;
  color: #faf9f5;
  text-align: center;
  padding: 30px;
  width: 100%;
}

@media (max-width: 768px) {
  .main-container {
    padding: 30px 15px;
    margin: 60px auto;
  }
  .heading {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .main-container {
    width: 95%;
    padding: 20px 10px;
    border-radius: 15px;
  }
  .input {
    max-width: 100%;
  }

  .button {
    width: 100%;
  }
}
